<!doctype html>
<html>
    <head>
        <title>First app</title>
	    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

        {% from "_formhelpers.html" import render_field %}

        <div>Input your text</div>
        <form method=post action="/translate">

        <dl>
	        {{ render_field(form.translate, cols='30', rows='10') }}
        </dl>

        <input type=submit value='Translate kor to eng' name='submit_btn'>

        </form>

    </body>
</html>